//
//  Config.xcconfig
//  ThePushSubscriber
//
//  Created by Evertjan van den Brink on 12/03/2019.
//  Copyright © 2019 Evertjan van den Brink. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Simple Configuration Example

struct Config {
    static let apiUrl: "https://newsapi.org/v2"
    static let apiKey = "f03288f1a1cb47c9bf386e40cf4a867c"
    static let maxConnections = 10
}
